<!--
<form [formGroup]="foodForm">
 
  <mat-form-field appearance="fill">
    <mat-label for="nombre" >Nombre</mat-label>
    <input id="nombre" type="text" formControlName="nombre">
    
  </mat-form-field>


 
  <mat-form-field>
    <mat-label for="categoria">Categoría</mat-label>
    
    <mat-select id="categoria" type="" formControlName="categoria"> 
      <mat-option value="drink">Drink</mat-option>
      <mat-option value="food">Food</mat-option>
    </mat-select>
    
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="descripcion">Descripción</mat-label>
    <textarea id="descripcion" type="text" formControlName="descripcion"></textarea>
  </mat-form-field>

  <mat-form-field floatLabel="always">
      <mat-label for="precio">Precio</mat-label>
      <input id="precio" type="number"formControlName="precio" matInput class="example-right-align" placeholder="0">
      <span matTextPrefix>$&nbsp;</span>
      <span matTextSuffix>.00</span>
    </mat-form-field>

</form>

 precio-->

<form [formGroup]="form">

  <div class="example-container">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="ejem.Pizza" formControlName="name" required>
      @if (name?.invalid && (name?.dirty || name?.touched)) {
      <mat-error>
        @if (name?.hasError('required')){

        <span class=" text-xs"> Campo requerido</span>
        }
      </mat-error>
      }


    </mat-form-field>
  </div>

</form>